Config(
  // the ip address of your roku
  addr:"192.168.1.181",
  // a map from a key + modifier bitflags to an action
  keybinds:{
    (Up,0b0000):Up,
    (Char('w'),0b0000):Up,
    (Down,0b0000):Down,
    (Char('s'),0b0000):Down,
    (Left,0b0000):Left,
    (Char('a'),0b0000):Left,
    (Right,0b0000):Right,
    (Char('d'),0b0000):Right,
    (Enter,0b0000):Select,
    (Char(' '),0b0000):Select,
    (Char('e'),0b0000):Select,
    (Char('g'),0b0000):Home,
    (Char('h'),0b0000):Home,
    (Backspace,0b0000):Back,
    (Esc,0b0000):Back,
    (Char('e'),0b0000):Back,
    (Char('f'),0b0000):Play,
    (Char(' '),0b0010):Play,
    (Char('z'),0b0000):Rev,
    (Char('x'),0b0000):Fwd,
    (Char('c'),0b0000):InstantReplay,
    (PageUp,0b0000):VolumeUp,
    (Char('w'),0b0010):VolumeUp,
    (PageDown,0b0000):VolumeDown,
    (Char('s'),0b0010):VolumeDown,
    (Char('m'),0b0000):VolumeMute,
    (Char('f'),0b0010):VolumeMute,
    (Char('i'),0b0000):Info,
    (Char('q'),0b0000):Info,
    (Char(':'),0b0000):KeyboardInput,
    (Char('q'),0b0010):KeyboardInput,
    (F(12),0b0000):PowerOff,
  },
)
