Config(
  addr:"192.168.1.181",
  keybinds:{
    (Up,0):Up,
    (Char('w'),0):Up,
    (Down,0):Down,
    (Char('s'),0):Down,
    (Left,0):Left,
    (Char('a'),0):Left,
    (Right,0):Right,
    (Char('d'),0):Right,
    (Enter,0):Select,
    (Char(' '),0):Select,
    (Char('e'),0):Select,
    (Char('g'),0):Home,
    (Char('h'),0):Home,
    (Backspace,0):Back,
    (Esc,0):Back,
    (Char('e'),2):Back,
    (Char('f'),0):Play,
    (Char(' '),2):Play,
    (Char('z'),0):Rev,
    (Char('x'),0):Fwd,
    (Char('c'),0):InstantReplay,
    (PageUp,0):VolumeUp,
    (Char('w'),2):VolumeUp,
    (PageDown,0):VolumeDown,
    (Char('s'),2):VolumeDown,
    (Char('m'),0):VolumeMute,
    (Char('f'),2):VolumeMute,
    (Char('i'),0):Info,
    (Char('q'),0):Info,
    (Char(':'),0):KeyboardInput,
    (Char('q'),2):KeyboardInput,
    (F(12),0):PowerOff,
  },
)
